<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dars Jadvali</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <header>
        <h1>Dars Jadvali</h1>
        <nav>
            <ul>
                <li><a href="/courses">Kurslar</a></li>
                <li><a href="/groups">Guruhlar</a></li>
                <li><a href="/subjects">Fanlar</a></li>
                <li><a href="/teachers">O'qituvchilar</a></li>
                <li><a href="/rooms">Xonalar</a></li>
                <li><a href="/timetable">Dars Jadvali</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Xush kelibsiz!</h2>
        <p>Iltimos, yuqoridagi havolalardan birini tanlang.</p>
    </main>
</body>
</html>